@media (min-width: 601px){
	.background-index{
		background-image: url('../images/DESK/1_wireframes_web_login/fundo_grafismo.png');
	}

	.background-home{
		background-image: url('../images/DESK/2_wireframes_web_adm/fundo.png');	
	}

	.background-option{
		padding: 3rem;
		top: 0;
		right: 0;
		left: 0;
		bottom: 0;
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;
	}
}

@media (max-width: 600px){
	.background-index{
		background-image: url('../images/MOBILE/1_wireframes_mobile_login/fundo.png');
	}

	.background-home{
		background-image: url('../images/MOBILE/1_wireframes_mobile_login/fundo.png');	
	}

	.d-none-mobile{
		display: none;
	}

	.background-option{
		margin-top: 50%;
	}

	.i-default.right{
		margin-left: 0
	}

}

.background{
	padding: 3rem;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;	
}


.color-white,
i.material-icons {
	color: #fff;
}

i.i-default{
	color: #5B87BF !important;
}

.color-default{
	color: #2A64AD;
}

.btn-default i.material-icons{
	color: #2A64AD;
}

.btn {
	border-radius: 10px;
}

.autocomplete.c-blue,
.select-wrapper input.select-dropdown:focus,
.select-wrapper input.select-dropdown,
input.c-blue {
	border-bottom: solid 1px #2A64AD !important ;
}

input[type=text]:not(.browser-default):focus:not([readonly]) + label.c-blue,
.input-field > label.c-blue,
.dropdown-content li > span,
.select-wrapper input.select-dropdown {
	color: #2A64AD !important;
}

.select-wrapper.text-white input.select-dropdown,
.select-wrapper.text-white input.select-dropdown:focus, 
.select-wrapper.text-white input.select-dropdown {
	color: #fff !important;
	border-bottom: 1px solid #fff !important;
}

.btn-blue{
	background-color: #2A64AD;
	color: #fff;
}

.btn-default {
	background-color: #fff;
	color: #2A64AD;
}

.btn-default:hover,
.btn-blue:hover {
	background-color: #F39FB8!important;
	color: #fff !important;
}

.bb-white-input{
	border-bottom: solid 1px #fff !important; 
}

.card-home {
	height: 500px;
}


.list-ul-organize li{
	text-align: left;
	margin-top: 5%;
}

.list-ul-organize .sair{
	margin-top: 60%;
}

.f-Helvetica-Bold{
	font-family: 'Helvetica';
	text-transform: uppercase;
}

.ml-10-p{
	margin-top: 10%;
}


.mt-50-p{
	margin-top: 50%;
}

.mb-50-p{
	margin-bottom: 50%;
}

.card-usuario{
	height: 215px;
}

.card-campanha,
.card-Questionario{
	height: 450px;
	overflow-y: auto;
}

.card .card-content p.card-ml-20-p{
	margin-top: 20% !important
}

.width-complete{
	width: 100%;
}

.modal{
	height: 600px;
}

.modal.datepicker-modal{
	height: auto;
}

.btn-rounded.b-blue.bkg-white.c-blue{
	border-radius: 50px;
	color: #2A64AD;
	border: 1px solid #2A64AD;
	background-color: #fff;
	height: auto;
	font-size: 15px;
	width: 240px;
}

.btn-rounded.b-blue.bkg-white.c-blue.topics-buttons{
	width: 241px;
}

.btn-rounded.b-blue.bkg-blue.c-white{
	border-radius: 50px;
	color: #fff;
	border: 1px solid #2A64AD;
	background-color: #2A64AD;
	height: auto;
	width: 230px;	
	font-size: 15px;
}

.min-cards-footer{
	padding-top: 5%;
	padding-bottom: 5%;
	background-color: #fff;
	color: #2A64AD;
}

.mt-2{
	margin-top: 2rem;
}

.opacity-70{
	background-color: rgba(0,0,0,234);
}

#myCamera video{
	width: 100% !important;
	height: auto !important;
}