@media (min-width: 601px){
	.background-index{
		background-image: url('../images/DESK/1_wireframes_web_login/fundo_grafismo.png');
	}

	.background-home{
		background-image: url('../images/DESK/2_wireframes_web_adm/fundo.png');	
	}

	.background-option{
		padding: 3rem;
		top: 0;
		right: 0;
		left: 0;
		bottom: 0;
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;
	}
}

@media (max-width: 600px){
	.background-index{
		background-image: url('../images/MOBILE/1_wireframes_mobile_login/fundo.png');
	}

	.background-home{
		background-image: url('../images/MOBILE/1_wireframes_mobile_login/fundo.png');	
	}

	.d-none-mobile{
		display: none;
	}

	.background-option{
		margin-top: 50%;
	}

	.i-default.right{
		margin-left: 0
	}

}

.background{
	padding: 3rem;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	overflow: auto !important;
}

.background-questionatio{
	background-image: url('../images/MOBILE/7_wireframes_mobile_responderquestionario_V2/fundo_colorido.png');
	background-size: cover;
}

.color-white,
i.material-icons {
	color: #fff;
}

i.i-default{
	color: #5B87BF !important;
}

i.i-red{
	color: #d50000 !important;
}

i.i-green{
	color: #00c853 !important;
}

i.i-black{
	color: #000000  !important;
}

.color-default{
	color: #2A64AD;
}

.btn-default i.material-icons{
	color: #2A64AD;
}

.btn {
	border-radius: 10px;
}

.autocomplete.c-blue,
.select-wrapper input.select-dropdown:focus,
.select-wrapper input.select-dropdown,
input.c-blue {
	border-bottom: solid 1px #2A64AD !important ;
}

input[type=text]:not(.browser-default):focus:not([readonly]) + label.c-blue,
.input-field > label.c-blue,
.dropdown-content li > span,
.select-wrapper input.select-dropdown {
	color: #2A64AD !important;
}

.select-wrapper.text-white input.select-dropdown,
.select-wrapper.text-white input.select-dropdown:focus, 
.select-wrapper.text-white input.select-dropdown {
	color: #fff !important;
	border-bottom: 1px solid #fff !important;
}

.btn-blue{
	background-color: #2A64AD;
	color: #fff;
}

.btn-default {
	background-color: #fff;
	color: #2A64AD;
}

.btn-default:hover,
.btn-blue:hover {
	background-color: #F39FB8!important;
	color: #fff !important;
}

.bb-white-input{
	border-bottom: solid 1px #fff !important; 
}

.card-home {
	height: 500px;
}


.list-ul-organize li{
	text-align: left;
	margin-top: 5%;
}

.list-ul-organize .sair{
	position: absolute;
    bottom: 20px;
}

.f-Helvetica-Bold{
	font-family: 'Helvetica';
	text-transform: uppercase;
}

.ml-10-p{
	margin-top: 10%;
}


.mt-50-p{
	margin-top: 50%;
}

.mb-50-p{
	margin-bottom: 50%;
}

.card-usuario{
	height: 215px;
}

.card-campanha,
.card-Questionario{
	height: 450px;
	overflow-y: auto;
}

.card .card-content p.card-ml-20-p{
	margin-top: 20% !important
}

.width-complete{
	width: 100%;
}

.modal{
	height: 600px;
}

.modal.datepicker-modal{
	height: auto;
}

.btn-rounded.b-blue.bkg-white.c-blue{
	border-radius: 50px;
	color: #2A64AD;
	border: 1px solid #2A64AD;
	background-color: #fff;
	height: auto;
	font-size: 15px;
	width: 240px;
}

.btn-rounded.b-blue.bkg-white.c-blue.topics-buttons{
	width: 241px;
}

.btn-rounded.b-blue.bkg-blue.c-white{
	border-radius: 50px;
	color: #fff;
	border: 1px solid #2A64AD;
	background-color: #2A64AD;
	height: auto;
	width: 230px;	
	font-size: 15px;
}

.min-cards-footer{
	background-color: #fff;
	height: 75px;
	width: 60px;
}

.min-cards-buttons{
	background-color: #fff;
	height: 50px;
}
.label-pictures{
	align-items: center;
	color: #2A64AD;
}

.mt-2{
	margin-top: 2rem;
}

.opacity-70{
	background-color:rgba(28,28,28,0.3);
}

#myCamera video{
	width: 100% !important;
	height: auto !important;
}

#results{
	margin-top: 5%;
}









/**********************************QR Code *******************************/
.qr-code-generator {
	width: 500px;
	margin: 0 auto;
}

.qr-code-generator * {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

#qrcode {
	width: 128px;
	height: 128px;
	margin: 0 auto;
	text-align: center;
}

#qrcode a {
	font-size: 0.8em;
}

.qr-url, .qr-size {
	padding: 0.5em;
	border: 1px solid #ddd;
	border-radius: 2px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.qr-url {
	width: 79%;
}

.qr-size {
	width: 20%;
}

.generate-qr-code {
	display: block;
	width: 100%;
	margin: 0.5em 0 0;
	padding: 0.25em;
	font-size: 1.2em;
	border: none;
	cursor: pointer;
	background-color: #e5554e;
	color: #fff;
}